<!DOCTYPE html>

<html>
    <head>

    </head>
    <body>
            <h1>
                BlogPost List
            </h1>
                {% for blogpost in blogposts %}
                    <h3><a href='{{ blogpost.get_absolute_url }}'>{{ blogpost.title }}</a></h3>
                    {{ blogpost.modify_dt|date:"N d, Y"}}
                    <p>{{ post.description }}</p>
                {% endfor %}
            <br>
            <!--<p><a href="{% url 'blogpost:blogpost_list' %}">book</a></p>-->
            <div>
                <span>
                    {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Previous Page</a>
                    {% endif %}

                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    
                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next Page</a>
                    {% endif %}
                </span>
            </div>
    </body>
    
</html>
