<!DOCTYPE html>

<html>
    <head>

    </head>
    <body>
            <h1>
                Post Archives until {% now "N d, Y" %}
            </h1>
            <ul>
                {% for date in date_list %}
                <li style="display: inline;">
                    <a href="{% url 'blogpost:blogpost_year_archive' date|date:'Y' %}">Year{{ date|date:"Y" }}</a>
                </li>
                {% endfor %}
            </ul>
            <br>
            <div>
                <ul>
                    {% for blogpost in object_list %}
                    <li>
                        {{ blogpost.modify_dt|date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;
                        <a href="{{ blogpost.get_absolute_url }}"><strong>{{ blogpost.title }}</strong></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
    </body>
    
</html>
