<!DOCTYPE html>
<html>
<head>
    <title>Django Blog Post List</title>
</head>
<body>
<h1>Post List</h1>

{% for post in object_list %}
    {# <h3><a href="{% url 'blog:post_detail' post.slug %}">{{ post.title }}</a></h3> #}
    <h3><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h3>
    {{ post.modify_dt|date:"N d, y" }}
    <p>{{ post.description }}</p>
{% endfor %}

<div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous Page</a>
        {% endif %}

        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next Page</a>
        {% endif %}
    </span>
</div>

</body>
</html>
